[advisories]
ignore = []

[bans]
multiple-versions = "deny"

[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
