[advisories]
git-fetch-with-cli = true
ignore = [
    "RUSTSEC-2023-0071",
    "RUSTSEC-2024-0436",
]

[bans]
multiple-versions = "deny"
skip = [
    "hashbrown",
    "http",
    "indexmap",
    "getrandom",
    "thiserror",
    "thiserror-impl",
    "tower",
    "tower-http",
    "webpki-roots",
    "windows-sys",
    "windows-targets",
    "windows_aarch64_gnullvm",
    "windows_aarch64_msvc",
    "windows_i686_gnu",
    "windows_i686_gnullvm",
    "windows_i686_msvc",
    "windows_x86_64_gnu",
    "windows_x86_64_gnullvm",
    "windows_x86_64_msvc",
]

[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
