name: aunsorm-auth-stack

networks:
  aunsorm-network:
    driver: bridge

services:
  auth-service:
    container_name: aun-auth-service
    build:
      context: ..
      dockerfile: docker/Dockerfile.auth
    env_file:
      - ../.env
    ports:
      - "50011:50011"
    volumes:
      - aunsorm-auth-data:/srv/data
    networks:
      - aunsorm-network
    depends_on:
      - rng-service
    restart: unless-stopped

  rng-service:
    container_name: aun-rng-service
    build:
      context: ..
      dockerfile: docker/Dockerfile.rng
    env_file:
      - ../.env
    ports:
      - "50019:50019"
    networks:
      - aunsorm-network
    restart: unless-stopped

volumes:
  aunsorm-auth-data:
    driver: local
